* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

#color {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  background: #000;
}

#color-control {
  width: 80%;
  max-width: 600px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  background: #ffffff7c;
  padding: 30px;
  border-radius: 10px;
}

#color-control .control-box {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-auto-rows: 1fr 1fr;
  align-items: center;
  margin-bottom: 1rem;
}

#color-control .d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#color-control input[type="text"] {
  padding: 5px 10px;
  background: #ffffff;
  border-radius: 100px;
  border: 0;
  outline: none;
  font-size: 1.2rem;
}

#color-control input[type="text"]:not(#color-num) {
  text-align: center;
}

#color-control .btn {
  width: 50%;
  border: 0;
  outline: none;
  border-radius: 25px;
  padding: 10px 15px;
  cursor: pointer;
}

.rgb-text {
  display: inline-block;
  width: 50%;
}

#color-num {
  width: 6rem;
}

.color-name {
  display: inline-block;
  width: 1rem;
  grid-area: 1 / 1 / 3 / 2;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.range {
  grid-area: 1 / 2 / 2 / 3;
}

.other {
  display: flex;
  grid-area: 2 / 2 / 3 / 3;
  gap: 10px;
}

@media (min-width: 768px) {
  #color-control .control-box {
    grid-template-columns: 1fr 3fr 3fr;
    grid-auto-rows: 1fr;
    gap: 15px;
  }
  .color-name {
    grid-area: 1 / 1 / 2 / 2;
  }
  .range {
    grid-area: 1 / 2 / 2 / 3;
  }
  .other {
    grid-area: 1 / 3 / 2 / 4;
  }
}